<section class="activities">
    <div class="activities__content">
        <p class="activities__title">[ Activities ]</p>
        <h2 class="activities__heading">Exploring the neighborhood</h2>
        <p class="activities__description">Infrastructure nearby provides residents with everything necessary:</p>
        <ul class="activities__list">
            <li class="activities__list-item">
                <svg class="activities__svg" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M6 0c3.3137 0 6 2.6863 6 6s-2.6863 6-6 6-6-2.6863-6-6 2.6863-6 6-6zm2.6464 3.6464L5 7.293 3.3536 5.6464l-.7072.7072L5 8.707l4.3536-4.3535-.7072-.7072z"
                        fill="currentColor" fill-rule="evenodd"></path>
                </svg>
                <p class="activities__list-item-text">Local shops and grocery stores;</p>
            </li>
            <li class="activities__list-item">
                <svg class="activities__svg" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M6 0c3.3137 0 6 2.6863 6 6s-2.6863 6-6 6-6-2.6863-6-6 2.6863-6 6-6zm2.6464 3.6464L5 7.293 3.3536 5.6464l-.7072.7072L5 8.707l4.3536-4.3535-.7072-.7072z"
                        fill="currentColor" fill-rule="evenodd"></path>
                </svg>
                <p class="activities__list-item-text">Bakeries and restaurants;</p>
            </li>
            <li class="activities__list-item">
                <svg class="activities__svg" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M6 0c3.3137 0 6 2.6863 6 6s-2.6863 6-6 6-6-2.6863-6-6 2.6863-6 6-6zm2.6464 3.6464L5 7.293 3.3536 5.6464l-.7072.7072L5 8.707l4.3536-4.3535-.7072-.7072z"
                        fill="currentColor" fill-rule="evenodd"></path>
                </svg>
                <p class="activities__list-item-text">Gift shops</p>
            </li>
        </ul>
        <img src="img/charchandcrowd.jpg" alt="the church and the crowd">
    </div>
    <div class="activity">
        <p class="activity__title">Hiking</p>
        <p class="activity__description">Whether walking in the woods or scrambling up a rock face, the Green Mountains
            in VT are home to a wide variety of hiking options.</p>
        <img class="activity__image" src="img/girlforest.jpg" alt="girl hiking in the forest">
    </div>
    <div class="activity">
        <p class="activity__title">Mountain biking</p>
        <p class="activity__description">Vermont is well known for some of the best mountain biking and lift-served
            mountain biking in the Northeast. Mt. Snow and Stratton downhill biking will guarantee smiles on
            dirt-covered faces.</p>
        <img class="activity__image" src="img/bikersforest.jpg" alt="biker in the forest">
    </div>
    <div class="activity">
        <p class="activity__title">Skiing</p>
        <p class="activity__description">Experience the thrill of skiing or snowboarding on a crunchy fresh snow.
            Whether you are a beginner looking to learn the basics or an expert seeking challenging slopes, skiing in
            Vermont offers something for everyone. If you're looking for an exhilarating winter adventure, head to
            Vermont and hit the slopes for an unforgettable skiing and snowboarding experience.</p>
        <img class="activity__image" src="img/snowski.jpg" alt="snow ski and trees">
    </div>
    <div class="activity">
        <p class="activity__title">Snowmobiling</p>
        <p class="activity__description">Snowmobiling is a popular winter recreational activity in Vermont. It offers a
            variety of well-maintained snowmobile trails that wind through forests, meadows, and mountainous regions.
        </p>
        <img class="activity__image" src="img/snowmobile.jpg" alt="snowmobile">
    </div>
</section>