<section class="activities">
    <div class="activities__content">
        <p class="activities__title">[ Activities ]</p>
        <h2 class="activities__heading">Exploring the neighborhood</h2>
        <p class="activities__description">Infrastructure nearby provides residents with everything necessary: </p>
        <ul class="activities__list">
            <li class="activities__list-item">
                <svg class="activities__svg" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" style="max-width:100%" height="100%">
                    <path
                        d="M6 0c3.3137 0 6 2.6863 6 6s-2.6863 6-6 6-6-2.6863-6-6 2.6863-6 6-6zm2.6464 3.6464L5 7.293 3.3536 5.6464l-.7072.7072L5 8.707l4.3536-4.3535-.7072-.7072z"
                        fill="currentColor" fill-rule="evenodd" style=""></path>
                </svg>
                <p class="activities__list-item-text">Local shops and grocery stores;</p>
            </li>

            <li class="activities__list-item">
                <svg class="activities__svg" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" style="max-width:100%" height="100%">
                    <path
                        d="M6 0c3.3137 0 6 2.6863 6 6s-2.6863 6-6 6-6-2.6863-6-6 2.6863-6 6-6zm2.6464 3.6464L5 7.293 3.3536 5.6464l-.7072.7072L5 8.707l4.3536-4.3535-.7072-.7072z"
                        fill="currentColor" fill-rule="evenodd" style=""></path>
                </svg>
                <p class="activities__list-item-text">Bakeries and restaurants;</p>
            </li>
            <li class="activities__list-item">
                <svg class="activities__svg" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" style="max-width:100%" height="100%">
                    <path
                        d="M6 0c3.3137 0 6 2.6863 6 6s-2.6863 6-6 6-6-2.6863-6-6 2.6863-6 6-6zm2.6464 3.6464L5 7.293 3.3536 5.6464l-.7072.7072L5 8.707l4.3536-4.3535-.7072-.7072z"
                        fill="currentColor" fill-rule="evenodd" style=""></path>
                </svg>
                <p class="activities__list-item-text">Gift shops</p>
            </li>
        </ul>
        <img src="img/charchandcrowd.jpg" alt="the church and the crowd">
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</section>