<section class="floor-plans">
    <div class="floor-plans__description">
        <p class="floor-plans__title">[ FLOOR PLANS ]</p>
        <h2 class="floor-plans__heading">House Plan</h2>
        <h3 class="floor-plans__description-title">Planned with comfort & hospitality in mind.</h3>
        <p class="floor-plans__description-text">The two level house has an area of 2,000 ft² and is perfect for a
            family with children larger groups. The cottage was fully renovated and refurnished:</p>
        <ul class="floor-plans__features-list">
            <li class="floor-plans__feature-item">A spacious and light master bedroom with king size bed and dedicated
                work space;</li>
            <li class="floor-plans__feature-item">Four uniquely decorated guest bedrooms with comfortable queen size
                beds and 4 bunk beds at one of them</li>
            <li class="floor-plans__feature-item">A good size living room with 75-inch flat TV with large sofa and comfy
                lounge chairs.</li>
            <li class="floor-plans__feature-item">Playroom equipped with 4 game table, PS4 and other board games to keep
                you or the little ones busy.</li>
            <li class="floor-plans__feature-item">Outdoor rear deck with hot tub and sitting area will let you enjoy
                gazing stars and friendly talks with glass of wine on warm summer nights</li>
        </ul>
    </div>
    <div class="floor-plans__image-container">
        <img src="/img/firstlevelplan.jpg" alt="first level plan">
        <img src="/img/secondlevelplan.jpg" alt="second level plan">
    </div>
</section>