<section class="roomsandinterior">
    <div class="roomsandinterior__ container">
        <div class="roomsandinterior__description">
            <p class="roomsandinterior__description__title">[ Description ]</p>
            <h2 class="roomsandinterior__description__heading">Rooms & Interior</h2>
            <p class="roomsandinterior__description__text">You'll get everything you may need in this house.</p>
        </div>
        <div class="roomsandinterior__text">
            <p> The interior of rooms is designed in modern style and with comfort in mind. It feels natural and cozy.
                The design uses high-quality and environmentally friendly materials.</p>
            <p> First floor offers open concept dining room and kitchen fully equipped with appliances, dishes,
                glassware and cookware you’ll need for your stay. There are two queen size bedrooms, full bathroom and a
                game room with a pull-out queen-size couch on the first floor as well. Through the game room you will
                have access to a large deck with gas grill, outdoor furniture and a seven-person hot tub.</p>
            <p> Second floor welcomes you with a vaulted ceiling family room offering a comfy couch, TV and a gas
                fireplace for coziness. Second floor also offers three bedrooms (one king, one queen and one with two
                bunk beds twin size), one full bath and a laundry closet with washer and dryer.</p>
        </div>
        <div class="owl-carousel">
            <div class="item"><img src="img/bookyourstay.jpg" alt="Зображення 1"></div>
            <div class="item"><img src="img/livingroomtable.jpg" alt="Зображення 2"></div>
            <div class="item"><img src="img/rustica-logo.jpg" alt="Зображення 3"></div>
            <!-- Додайте інші слайди за потребою -->
        </div>

        <div class="photo-gallery__container ">
            <div class="photo-gallery__item">
                <img src="img/bookyourstay.jpg" alt="Summer photo 1" class="photo-gallery__image"
                    data-image="img/bookyourstay.jpg">
            </div>
            <div class="photo-gallery__item">
                <img src="img/livingroomtable.jpg" alt="Summer photo 2" class="photo-gallery__image"
                    data-image="img/livingroomtable.jpg">
            </div>
            <div class="photo-gallery__item">
                <img src="img/rustica-logo.jpg" alt="Summer photo 3" class="photo-gallery__image"
                    data-image="img/rustica-logo.jpg">
            </div>
        </div>

        <button id="prevButton">Попереднє</button>
        <button id="nextButton">Наступне</button>

        <!-- <div class="carousel">
            <div class="carousel-slide"><img src="img/bookyourstay.jpg" alt="Фотографія 1"></div>
            <div class="carousel-slide"><img src="img/livingroomtable.jpg" alt="Фотографія 2"></div>
            <div class="carousel-slide"><img src="img/rustica-logo.jpg" alt="Фотографія 3"></div>
        </div> -->
    </div>
</section>