<section>
    <div class="yourhome__container">
        <div class="welcome_container item">
            <p>[ your home ]</p>
            <h2>Welcome to Vermont vacation home!</h2>
            <div class="yourhome__learnmore-button">
                <a href="#" class="button" href="#">Learn more</a>
            </div>
        </div>
        <div class="about_container item">
            <p>About the property</p>
            <p>Come to this beautiful home after a day of exploring all the beauty and outdoor activities Vermont has to
                offer.
                This newly remodeled chalet is conveniently located between Mount Snow and Stratton.</p>
            <p>The house is fully furnished and has seven person hot tub, fire pit area and playground for little ones.
            </p>
        </div>
        <div class="yourhome__photo-container item"> <img src="img/livingroomtable.jpg" alt="living room with table"></div>
    </div>
    <div></div>
</section>