.floor-plans {
    padding-top: 65px;
    margin: 0px 24px 0px 24px;
}

.floor-plans__description {
    padding: 31px 27px 31px 27px;
    background-color: #f6f3ea;
}

.floor-plans__title {
    font-size: 12px;
    color: rgb(181, 105, 83);
    text-transform: uppercase;
    font-weight: 700;
}

.floor-plans__description h2 {
    line-height: 30px;
    margin-top: 20px;
    font-size: 24px;
    color: #114806;
    font-weight: 700;
}

.floor-plans__description h3 {
    margin-top: 25px;
    font-size: 20px;
    color: #114806;
    line-height: 30px;
}

.floor-plans__description-text {
    margin-top: 25px;
    font-size: 16px;
    color: #114806;
    line-height: 30px;
}

.floor-plans__features-list li {
    font-size: 16px;
    color: #114806;
    line-height: 30px;
}

.floor-plans__features-list li::before {
    content: "• ";
    font-size: 20px;
    font-weight: bold;
    color: rgb(181, 105, 83);
}

.floor-plans__image-container {
    margin-top: 25px;
}