.roomsandinterior {
    margin: 0px 24px 5px 24px;

}

.roomsandinterior__description {
    padding: 31px 27px 31px 27px;
    background-color: #f6f3ea;
}

.roomsandinterior__description__title {
    font-size: 12px;
    color: rgb(181, 105, 83);
    text-transform: uppercase;
    font-weight: 700;
}

.roomsandinterior__description__heading {
    line-height: 30px;
    margin-top: 20px;
    font-size: 24px;
    color: #114806;
    font-weight: 700;
}

.roomsandinterior__description__text {
    line-height: 30px;
    margin-top: 20px;
    color: #114806;
    font-size: 20px;
    font-weight: 400;
}

.roomsandinterior__text p {
    margin-top: 5px;
    font-size: 16px;
    color: rgb(17, 72, 6);
    line-height: 30px;
}
/*
.slick-slide {
    margin-right: 20px;
}

.carousel .slick-prev {
    left: 25px;
}

.carousel .slick-next {
    right: 25px;
}

.slick-prev,
.slick-next {
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    z-index: 1;
    cursor: pointer;
}

.slick-prev:hover,
.slick-next:hover {
    background-color: #0056b3;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.carousel-slide {
    width: 300px;
    height: 200px;
    text-align: center;
}
.carousel-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
} */