.yourhome {
    padding: 90px 24px 90px 24px;
}

.yourhome__container {
    display: flex;
    flex-direction: column;
}

.welcome_container {
    background-color: #f6f3ea;
    padding: 31px 27px 31px 27px;
}

.welcome_container p {
    font-size: 12px;
    color: rgb(181, 105, 83);
    text-transform: uppercase;
    font-weight: 700;
}

.welcome_container h2 {
    line-height: 30px;
    margin-top: 20px;
    font-size: 24px;
    color: #114806;
    font-weight: 700;
}

.yourhome__learnmore-button {
    margin-top: 35px;
}

.yourhome__learnmore-button .button {
    font-size: 14px;
    display: inline-block;
    padding: 15px 26px 15px 26px;
    color: white;
    background-color: rgb(181, 105, 83);
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.about_container {
    margin: 50px 0px 10px 0px;
}

.about_container p:nth-child(1) {
    font-size: 12px;
    color: rgb(181, 105, 83);
    text-transform: uppercase;
    font-weight: 700;
}

.about_container p:nth-child(2) {
    line-height: 30px;
    margin-top: 20px;
    font-size: 16px;
    color: rgb(17, 72, 6);
}

.about_container p:nth-child(3) {
    line-height: 30px;
    margin-top: 20px;
    font-size: 16px;
    color: rgb(17, 72, 6);
}

.item {
    margin-top: 50px;
}

.seperator__line {
    height: 3px;
    width: 20%;
    background-color: #b56953;
    margin: 15px 0px 15px 0px;
}

.yourhome__svg-container p {
    font-size: 16px;
    color: rgb(17, 72, 6);
}

.yourhome__svg {
    margin-top: 40px;
    height: 50px;
    width: 50px;
}


@media (min-width: 768) {
    .item {
        max-width: 370px;
        padding-left: 15px;
        padding-right: 15px;
        flex-basis: 0;
        /* Всі елементи будуть рівні за шириною */
        flex-grow: 1;
        /* Розподіл доступного простору рівномірно між елементами */
    }

}